
.button {
  font: inherit;
  border: 1px solid bisque;
  background: bisque;
  color: brown;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background:lightcoral;
  border-color: brown;
}

.button:focus {
  outline: none;
}